@font-face {
  font-family: Montserrat;
  src: url(./assests/fonts/Montserrat-Medium.otf);
}

h4 {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 10px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
